# Ignore datasets
data/

# Ignore python cache
__pycache__/
*.pyc

# Ignore models
*.pth

# Ignore colab files
*.ipynb_checkpoints

# Ignore generated experiment outputs
outputs/
outputs_notebook/*/mobilenet_weights.pth

# Ignore IDE files
.idea/
